/**
 * This file contains all application-wide Sass variables.
 *
 * 1. Fonts
 *
 * 2. Colors
 *
 * 3. Placeholders
 *
 */   

/* ==========================================================================
   1. Fonts
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,600,700|IBM+Plex+Sans:400,600');   

/* ==========================================================================
   2. Colors
   ========================================================================== */   

:root{
  --black: #333333;
  --blue: #B4E7F8;
}    

/* ==========================================================================
   3. Placeholders
   ========================================================================== */ 

%transition-font{
  transition: font .5s linear;
}   

